:root {
    --text-color: #FFFFFF;
}

* {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

.trip__to {
    /* height: 800px; */
    background: rgba(0, 0, 0, 0.5) url('../img/mainBg.jpg') center center / cover no-repeat;
    background-blend-mode: darken;
    padding: 180px 0 30px 0;

}

.subtitle {
    font-size: 46px;
    font-weight: 600;
    color: var(--text-color);
}

.title {
    font-size: 64px;
    font-weight: 800;
    color: var(--text-color);
    margin: 135px 0;
}

.help__title {
    margin-top: 60px;
    font-size: 32px;
    font-weight: 700;
    color: var(--text-color);
}

.arrow__icon {
    margin-top: 20px;
}

/* second section */

.suggest {
    min-height: 800px;
    padding-top: 45px;
    background: rgba(0, 0, 0, 0.5) url('../img/bg_suggest.jpg') center center / cover no-repeat;
    background-blend-mode: darken;
    position: relative;

    .title__suggest {
        margin-top: 45px;
        font-size: 64px;
        font-weight: 700;
        color: var(--text-color);
    }
}

.divider {
    display: block;
    width: 650px;
    height: 10px;
    background-color: var(--text-color);
    margin: 10px auto 0 auto;
}

.suggest__text {
    position: relative;
    left: 25%;
    width: 735px;
    height: 220px;
    margin-top: 35px;
    font-size: 36px;
    font-weight: 500;
    color: var(--text-color);
    text-align: right;
    z-index: 2;
}

.apartment__img {
    position: absolute;
    left: 345px;
    bottom: 40px;
    display: block;
    width: 500px;
    height: 500px;
    z-index: 1;
}